@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Fira+Sans:wght@300&family=Hammersmith+One&display=swap');


html {
    scroll-behavior: smooth;
    background-color: #83A637;
}

body {
  margin: 0;
}

p {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.1em;
}

b {
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #484848;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    color: #ba1226;
    font-size: 50px;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
}

h2 {
    font-size: 2em;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
}

h4 {
    font-size: 25px;
    text-align: left;
    font-family: 'Hammersmith One', sans-serif;
}

#header {
    background-color: #4D7332;
    height: 100px;
    display: grid;
    grid-template-columns: 30% auto;
    padding-right: 40px;
    padding-left: 40px;
}
#logo {
  padding: 5px 0;
}

#logo img {
    height: 90px;
}

#nav {
    text-align: right;
    padding-top: 30px;
    font-size: 35px;
    font-family: 'Hammersmith One', sans-serif;
}

#about {
  display: grid;
  grid-template-columns: 45% auto;
  min-height: 500px;
  padding-top: 30px;
  margin-bottom: 30px;
}

#aboutbox {
    width: 90%;
    text-align: center;
}

#poster {
  padding-left: 10%;
}

#poster img {
  width: 90%;
}

#roles {
    padding-top: 20px;
}

.rolecols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 30px;
    padding-left: 10%;
}

.position {
    width: 70%;
}

.position img {
    width: 60%;
    margin-bottom: 10px;
    margin-left: 20%;
}

.position p {
    font-size: 1em;
    margin-bottom: 20px;
}

#moreinfo {
    text-align: center;
    padding-top: 20px;
}

#infopara {
    width: 70%;
    max-width: 900px;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 40px;
}

#orgstuff {
    background-color: white;
    min-height: 400px;
    padding-top: 20px;
}

#orgbox {
    width: 70%;
    max-width: 800px;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 40px;
    text-align: center;
}

#footer {
    height: 90px;
    text-align: center;
    padding-top: 20px;
    background-color: #4D7332;
}


.Sicons img{
    max-width: 25px;
}
